@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.header {
    width: 100%;
    height: 10%;
    background-color: whitesmoke;
    font-family: 'Lora', sans-serif;

    h1 {
        margin: 0 5px;
    }

    p {
        margin: 0 5px;
    }
}